
.imageplacement_clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0px;
  line-height: 0;
}

.imageplacement_left {
  float: left;
  display: inline;
  margin: .5em .5em .5em 0;
}

.imageplacement_right {
  float: right;
  display: inline;
  margin: .5em 0 .5em .5em;
}

.imageplacement_p_hover {
  background-color: #EEE;
}